/* Colors */
$primary-color: #4458dc;
$graphql-color: #E10098;
$graphql-color-primary: #E10098;
$graphql-color-secondary: #0098E1;
$graphql-color-warn: #98E100;
$primary-color2: #854fee;
$title-color: #e79696;
$text-color: #777777;  
$border-color: #201f1f17;  
$gradient-color: linear-gradient(90deg, #E10098 0%, #0098E1 100%);
$shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
$box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


/* font family variables. */ 
$roboto: 'Roboto', cursive;